:root {
  --main: #0d6efd;
  --bg: #f3f4f6;
  --card: #ffffff;
  --text: #111827;
  --radius: 14px;
}

body.dark {
  --bg: #0f172a;
  --card: #1e293b;
  --text: #f8fafc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, Arial;
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: var(--main);
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
}

#menuBtn {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  display: none;
}

nav {
  display: flex;
  gap: 12px;
  /* margin-top: 10px; */
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 12px;
  border-radius: 12px;
}

nav a.active {
  background: rgba(255, 255, 255, 0.25);
}

main {
  padding: 15px;
  flex: 1;
}

.page {
  display: none;
}
.page.active {
  display: block;
}

form {
  background: var(--card);
  padding: 15px;
  border-radius: var(--radius);
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
}

button {
  background: var(--main);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.delete-btn {
  background: #e11d48;
  margin-left: 10px;
}

.complete-btn {
  background: #10b981;
  margin-right: 10px;
}

.card {
  background: var(--card);
  padding: 15px;
  border-radius: var(--radius);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
  margin: 10px 0;
}

.habitsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.habit-checkboxes {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.habit-checkboxes input[type="checkbox"] {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 12px;
}

footer {
  background: var(--main);
  color: white;
  padding: 12px;
  text-align: center;
}

/* 📱 MOBILE */

@media (max-width: 700px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  #menuBtn {
    display: block;
  }

  nav {
    display: none;
    flex-direction: column;
  }

  nav.show {
    display: flex;
  }
}
